{% extends 'base_user.html' %}
{% load crispy_forms_tags %}
{% block title %} Acesso Funcionários - Mecanico Express {% endblock %}
{% block content %}
<div class="ros">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card" id="card_login">
            <div class ="card-body" >
                <h4 class="card-title text-center">Acesso Funcionários - Mecanico Express</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    <p class="change-form-p">Quer criar uma conta? <a href="/accounts/register">Click Aqui!</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
