.container-fluid{
    padding: 0;
}

/*LOGIN E LOGOUT */

div#card_login{
    margin-top: 50px;
}

/* Lista de Tarefas */
.list-div{
    padding: 0;}
.task-list{
    padding-left: 0;}
.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0px 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}

.task-item.done{
    background-color: #ccc;
}


 
.fas.fa-trash, .fas.fa-edit, .fas.fas.fa-check{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fas.fa-check{
    color: #CCC;
}
.done .fas.fas.fa-check{
    color: #3476e2;
}

 
.fas.fa-trash{
    color: #db1e47;
}
.fas.fas.fa-edit{
    color: #13c43f;
}

/* Lista de Tarefas "BOTAO" */
.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color:#FFF;
    padding: 8px;
    border-radius: 5px;
    margin: 25px;
}
 
.fas.fa-plus{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;   
}

#add-link{
    text-decoration:none;
}

/* Filtro */
.filter-div{
    margin-bottom: 15px;
    padding: 0px;
}
 
#filter{
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* Lista de Tarefas "PROCURAR" */
.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;

}
.search-div{
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/*Messagem*/
 
ul.messages{
    padding:0;
}
ul.messages li{
    list-style: none;
}

/*Paginação*/
 
.pagination{
    margin-bottom: 20px;
}
 
.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
 
.step-links .current{
    margin-left: 5px;
    margin-right: 5px;
}

/*NOVO BASE_USER*/

/*** ==== Header ==== ***/
img.logo{
    max-width:120px;
    max-height:70px;
    width: auto;
    height: auto;
}

/* Botão de Login */
#botaologin{
    padding-left: 85%;
}
/* NavBar */
li.nav-item{
    font-size: 22px;
    padding-left: 150% ;    
}

/*** ==== Footer ==== ***/

p.footer{
    padding-left: 400px;
    color: #fff;
}

p.footer span{
    color:#22AA40;
}

p.text-muted{
    text-align: justify;
}

a.text-muted span{
    font-weight: bold;
}