
/*** ==== Header ==== ***/
img.logo{
    max-width:120px;
    max-height:70px;
    width: auto;
    height: auto;
}

/* Botão de Login */
#botaologin{
    padding-left: 85%;
}

/* NavBar */
li.nav-item{
    font-size: 22px;
    padding-left: 150% ;    
}

/*** ==== Section ==== ***/



/*** ==== Footer ==== ***/

p.footer{
    padding-left: 400px;
    color: #fff;
}

p.footer span{
    color:#22AA40;
}

p.text-muted{
    text-align: justify;
}

a.text-muted span{
    font-weight: bold;
}
