
/*** ==== Header ==== ***/
img.logo{
    max-width:120px;
    max-height:70px;
    width: auto;
    height: auto;
}

/* Botão de Login */
#botaologin{
    padding-left: 85%;
}

/* NavBar */
li.nav-item{
    font-size: 22px;
    padding-left: 150% ;    
}

/*** ==== Section ==== ***/



/*** ==== Footer ==== ***/

p.footer{
    padding-left: 400px;
    color: #fff;
}

p.footer span{
    color:#22AA40;
}

p.text-muted{
    text-align: justify;
}

a.text-muted span{
    font-weight: bold;
}

/* sobre */
.rounded-circle{
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bd-placeholder-img{
    background: url("../img/logo.png") no-repeat 0px 80px;
}

.col-lg-4 h2{
    margin-left: 100px;
    margin-bottom: 20px;    
}

.col-lg-4 p{
    padding-right: 50px;
    padding-left: 50px;
}

.container.marketing{
    padding: 40px;
}

/* Home */
main.container{
    padding-top: 80px;
}

h3.display-4{
    font-size: 42px;
}

h2.display-4{
    font-size: 30px;
}


.list-unstyled img{
    padding-right: 80px;
    max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/*** ==== Serviços ==== ***/

/* Formulario */
.offset-1#contato{
    padding: 50px 250px 50px 250px;
}
