{% extends 'base.html' %}
{% load static %}
{% block title %} Serviços da Empresa {% endblock %}

{% block content %}
<!-- Inferior Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sobre">Sobre</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="servicos">Serviços</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="contato">Contatos</a>
      </li>   
          
    </ul>
  </div>
</nav>

<body>

<!--Micro Blog-->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Seja bem vindo(a), ao site!
      </h3>
      <!--Primeira Postagem-->
      <div class="blog-post">
        <h1 class="display-4">Procurando uma oficina mecânica? </h1>
        <p class="lead my-3">Parabéns você encontrou a melhor da região! A Oficina Mecânico Express está localizada na região de Simões Filho, atendendo clientes que precisam do Serviço de Mecânica Automotiva com Qualidade e Ótimos Preços.</p>
        <hr>
        <h3 class="display-4">Nosso diferencial.</h3>
        <p class="lead my-3">Contamos com profissionais altamente qualificados e com cursos e treinamentos constantes para oferecer o melhor em mecânica automotiva, elétrica, retífica de motores, serviços de suspensão e freios. Traga seu carro à Oficina Mecânica Driver e tenha a certeza do melhor serviço..</p>
        <ul>
          <li><strong>MECÂNICA MULTIMARCAS: </strong>Somos especializados em Carros Nacionais e Importados.</li>
          <br>
          <li><strong>DIAGNÓSTICO PRECISO: </strong>Utilizamos Equipamentos de última geração nas Revisões.</li>
          <br>
          <li><strong>PAGAMENTO FACILITADO: </strong>Aceitamos Cartão de Crédito e Parcelamos seu Serviço.</li>
          <br>
          <li><strong>GARANTIA DOS SERVIÇOS: </strong>Oferecemos Garantia em todos os Serviços Executados.</li>
        </ul>
      </div>
    </div>

    <!--About - Quadro Cinza -->
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Atenção!</h4>
        <p class="mb-0">A pedido da <em>direção</em>. Orçamentos só poderam ser feitos, através do Site, Whatsapp ou presencialmente na loja.</p>
      </div>
    <!--Marcas Credenciadas -->
      <div class="p-4">
        <h2 class="display-4">Marcas Credenciadas:</h4>
        <br>
        <ol class="list-unstyled mb-0">
          <li><img src="{% static 'img/home/fiat.jpg'%}" alt=""></li>
          <br>
          <li><img src="{% static 'img/home/ford.jpg'%}" alt=""></li>
          <br>
          <li><img src="{% static 'img/home/chevrolet.jpg'%}" alt=""></li>
          <br>
          <li><img src="{% static 'img/home/wolks.jpg'%}" alt=""></li>
          <br>
          <li><img src="{% static 'img/home/hyundai.jpg'%}" alt=""></li>  
          <br>
        </ol>
      </div>
    </aside>
  </div>
</main>


<div class="container">
  <hr>
  <br>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class=" px-0">
      <h1 class="display-4 font-italic">Plano de saúde veicular</h1>
      <p class="lead my-3">este é um plano mensal ou anual em que o assinante tem direito aos serviços de reparo mecânico e autoelétrico para o veículo contratado, quantas vezes forem necessárias durante o período de vigência, com cobertura total de mão de obra para diagnóstico, reparo e teste do veículo.</p>
      <br>
      <!--Promoções-->
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm bg-secondary">
          <div class="card-header bg-success">
            <h4 class="my-0 font-weight-normal">Normal</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 30/ mês</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><br></li>
              <li>1 Lavagem</li>
              <li>1 Revisão Leve</li>
              <li>1 Reboque Veicular</li>
              <li><br></li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-success">Informe-se Agora</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm bg-secondary">
          <div class="card-header bg-success">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$ 380/ Ano</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>12 Lavagens</li>
              <li>02 Lavagens de Motor</li>
              <li>12 Revisões Leve</li>
              <li>01 Revisão <strong>Pesada</strong></li>
              <li>12 Reboques Veicular</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-success">Informe-se Agora</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm bg-secondary">
          <div class="card-header bg-success">
            <h4 class="my-0 font-weight-normal">VIP Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">R$450/ Ano</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>12 Lavagens</li>
              <li>2 Lavagens de Motor</li>
              <li>12 Revisões Leve</li>
              <li>02 Revisões <strong>Pesada</strong></li>
              <li>Reboque Ilimitado</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-success">Informe-se Agora</button>
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  </div>
  







</body>

{% endblock %}